<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Audio Blog</title>
    {% endblock %}
  </head>
  <body>
    <div class="topnav">
     
    </div>
    <div>
        <h1> Welcome to the Audio Blog</h1>
{% for post in post_list %}

<h1>{{ post.title }}</h1>
{{post.content}}
<audio src="{{ post.audio.url }}" controls="controls">

</audio>
{{post.author}}
{{post.date}}
Tags: {% for tag in post.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}



{% endfor %}
<br>
Create <a href="{% url 'blog:post-create' %}">Post</a>
    </div>
    {% block content %}
      <!-- default content text (typically empty) -->
    {% endblock %}
  </body>
</html>
